body {
    background: url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148810113.jpg?w=2000") no-repeat center fixed ;
    background-size: cover;
  }

  iframe{
margin-left: 500px;
border-radius: 30px;
margin-top: 10%;
}