body {
    background: url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148810113.jpg?w=2000") no-repeat center fixed ;
    background-size: cover;
  }
  .galeria {
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    width: 100%;
  }
  
  .imagem {
    width: 100%;
    margin-right:-34%;
    margin-left: 5%;
  }


.nachos2 {
margin-left: 24%;
margin-top: 180px;
border-radius: 40px;
width: 60%;
}

h1 {
color: rgb(255, 255, 255);
padding: 10px 10px;
background-color: rgb(10, 3, 52);
border-radius: 20px;
font-size:100%;
margin-left: 24%;
margin-right: 16%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;

}  
  